[View in Colaboratory](https://colab.research.google.com/github/Nattapoy/My-Report/blob/master/python.ipynb)

# การแสดงผลตัวอักษร
เอสเคปคาแร็กเตอร์
นอกจากแบ็กสแลชจะทำหน้าที่นำหน้าอักษรที่มีหน้าที่เฉพาะเพื่อให้ปรากฏตามที่เห็นโดยไม่ถูกตีความแล้ว

มีอักษรหลายตัวที่นำหน้าด้วยแบ็กสแลช \ แล้วมีความหมายพิเศษ ซึ่งเรียกว่า เอสเคปคาแร็กเตอร์ (escape character)

\n คือ ขึ้นบรรทัดใหม่

\t คือ เคาะเว้นย่อหน้า

\b คือ แบ็กสเปซ (ลบตัวอักษร)

\a คือ ส่งเสียงเตือน

In [0]:
print('ma\bc') 
print('a\ta')

In [0]:
# print function
print("Hello, I'm Python!")

In [38]:
# arithmatic
print(1+3) # plus
print(2-1) # minus
print(3*6) # multiply
print(2**3) # power
print(17/3) # divide
print(17//3) # floor divide

4
1
18
8
5
5

# ตัวแปรและชนิดของข้อมูล
ชื่อย่อ	ความหมาย	ตัวอย่าง

int               จำนวนเต็ม	               12345


float	            จำนวนจริง	                123.45  

complex      	จำนวนเชิงซ้อน	     123+45j

bool	         บูล	                       True

str         	สายอักขระ	              '12345'

list	         ลิสต์	                        [1,2,3,4,5]

tuple	       ทูเพิล                     	(1,2,3,4,5)

set	           เซ็ต                        	{1,2,3,4,5}

dict	         ดิกชันนารี	               {'ก':1,'ข':2,'ค':3,'ง':4,'จ':5}

range	       เรนจ์                        range(1,6)

In [0]:
range(1,6)

จำนวนจริงในที่นี้เป็นจำนวนที่อยู่ในรูปทศนิยมแบบจุดลอย (floating point)

In [0]:
a= 3.11e-8
b= 1.293e2
print(a,b)

 a ถูกป้อนค่าให้เท่ากับ 129.3 ซึ่งเป็นการป้อนค่าโดยตรง  b จะได้ค่าเป็นเท่ากับที่ a มีอยู่ในตอนนั้น คือเป็น 129.3

การเขียนแบบนี้ต่างจากการเขียนสมการทางคณิตศาสตร์ ต้องพยายามไม่สับสน

ความหมายของ b = a นั้นไม่ได้หมายถึงสมการที่บอกว่า b มีค่าเท่ากับ a แต่หมายความว่า b จะถูกเปลี่ยนค่าให้เท่ากับ a

In [0]:
a = 129.3  # เปลี่ยนเป็น 129.3=a ไม่ได้

b = a      #เปลี่ยนเป็น a=b ไม่ได้ นั่นเพราะเราไม่สามารถนำค่าของตัวแปรมาป้อนให้กับตัวเลขได้

print(b)

นอกจากนี้ในภาษาไพธอนสามารถกำหนดค่าของตัวแปรได้ทีละมากกว่าหนึ่งตัวภายในครั้งเดียว

In [0]:
a,b,c = 158,162,165

print( c,b,a)

In [0]:
#การลบตัวแปร
a,b = 100,45
del a

print(b,a)

In [0]:
#การหาชนิดของข้อมูล
type(b)

In [27]:
#ข้อมูลชนิดบูลสามารถแปลงเป็นตัวเลขได้ 
a = int(True) 
b= int(False) 

print(a,b)

(1, 0)

# การคำนวณ

x + y หมายถึง x บวก y

x - y หมายถึง x ลบ y

x * y หมายถึง x คูณ y

x / y หมายถึง x หาร y

x // y หมายถึง x หาร y โดยปัดเศษทิ้ง

x % y หมายถึง x หาร y เอาเศษ

x ** y หมายถึง x ยกกำลัง y

นิพจน์บางชนิดอาจเขียนในรูปแบบฟังก์ชัน
pow(x,y) หมายถึง x ยกกำลัง y
abs(x) หมายถึง ค่าสัมบูรณ์ของ x

x += a หมายถึง x = x+a

x -= a หมายถึง x = x-a

In [0]:
 True - True 
 False*100 
True + 1.5

 'Hi'*7

## if...else
if เงื่อนไข:

    คำสั่งที่จะให้ทำเมื่อเงื่อนไขเป็นจริง
    
else เงื่อนไข:

    คำสั่งที่จะให้ทำเมื่อเงื่อนไขเป็นเท็จ

In [0]:
x = int(input('7*2 เท่ากับเท่าไหร่? : '))
if x==14:
    print('ถูกต้อง')
else:
    print('คำตอบผิด')

In [0]:
n=int(input())
if n % 2 == 0:
    print("n is even number")
else:
    print("n is odd number")

In [0]:
x = int(input('x = '))
if x <= 0:
    print("x is Zero oder negativ")
elif x < 1000:
    print("x is less than 1000")
elif x < 1000000:
    print("x is less than 1000000")
else:
    print("x is more than 1000000")

# Python has two primitive loop commands: 
1.	while loops 
2.  for loops

In [0]:
# while loops
x = 0
while x < 10:
    print(x)
    x += 1

บางครั้งในการทำซ้ำอาจไม่จำเป็นต้องทำไปจนกว่าเงื่อนไขหลัง while จะเป็นเท็จจึงออก แต่อาจจะตั้งเงื่อนไขเพิ่มเติมบางอย่างที่ทำให้สิ้นสุดการทำซ้ำลงทันที ซึ่งทำได้โดยใช้คำสั่ง break

In [0]:
s0='Medical!'
s1=''
i=0
while i<len(s0):
    s1+=s0[i]
    if s0[i]=="i":break
    i+=1
print(s1)
print(len(s0))

In [0]:
khamtop = input('714235/133= ')
c=int (714235/133)

okat = 3
while(khamtop!=c):
    print('False')
    okat -= 1
    if(okat==0):
        print('Game Over!!!!','Answer:',c)
        break
    print('your Time:',okat,)
    khamtop = input('Again: ')
else: print('Correct!!!!!!!')

for loops  ใช้สำหรับการวนซ้ำตามลำดับเหมือนกับ iterator method แต่ลดความซับซ้อนในการเขียนลง

In [0]:
for u, v in ((0,1), (1,2), (2,0)):
  print("u={}, v={}".format(u, v))

In [0]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":  
    break                 #run until x = banana then stop
  print(x)

fruits = ["apple", "banana", "cherry"]

for x in fruits:
  if x == "banana":
    continue              #run until x = Banana then continue to the next place
  print(x)

In [0]:
for letter in 'Python':
    if letter == 'h':
        pass
        print('This is pass block')
    print('Current Letter :', letter)
print("Good bye!")

#ข้อมูลชนิดลำดับ
ข้อมูลลักษณะนั้นมีอยู่หลายชนิดได้แก่ ลิสต์ (list), ทูเพิล (tuple), ดิกชันนารี (dict), เซ็ต (set), เรนจ์ (range) เป็นต้น

**Tuple **

คือรายการข้อมูลซึ่งโดยทั่วไปแล้วมีลักษณะเหมือนกับลิสต์ แต่ข้อแตกต่างคือไม่สามารถแก้ไขเปลี่ยนแปลงสมาชิกภายในได้หลังจากที่ถูกสร้างขึ้นมาแล้ว หากอยากแก้ไขมีแต่ต้องสร้างทูเพิลตัวใหม่ขึ้นมาทับ อย่างไรก็ตามโดยทั่วไปทูเพิลมีข้อดีกว่าลิสต์คือทำงานได้เร็วกว่า

In [60]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [0]:
p0=(1,2,3 )    #x,y,z coordinates
p1=p0        #p1_x=p0_x;p1_y=p0_y;p1_z=p0_z
print(p1)

empty=()     # the empty tuple

p = (1,2,3)
(a,b,c) = p
print(b)

s=3,+4    
print(s)

h=3*(6,)  
g=(6,)*3  
print(g,h)

len((p))  # laeng of p


# thistuple = ("apple", "banana", "cherry")  #but mit Tupel("apple", "banana", "cherry") is ERROR
# thistuple[1] = "blackcurrant"

# # the value is still the same:
# print(thistuple)

เปลี่ยนจากทูเพิลเป็นลิสต์

In [0]:
list(thistuple)

thistuple[1] = "blackcurrant"

# the value is still the same:
print(thistuple)

**list**

คือรายการของข้อมูลซึ่งประกอบไปด้วยข้อมูลหลายตัวมาวางเรียงต่อกันโดยมีลำดับที่แน่นอน ข้อมูลที่เก็บอยู่ในลิสต์จะเป็นชนิดใดก็ได้ และอาจเป็นหลายชนิดปนกันก็ได้

In [0]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

In [0]:
doppelt = []
for i in range(10):
    doppelt.append(i)
print ("\ n" .join (["Give me a {}!" .format (c) for c in "HELLO"]))

**Add Items:**

In [0]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

In [0]:
#To add an item at the specified index
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

**Remove Item:**

In [0]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

In [0]:
thislist = ["apple", "banana", "cherry"]
del thislist[1]      #Error :  del thislist
print(thislist)

# Python Functions
ฟังก์ชันคือชุดของคำสั่งที่ทำงานเฉพาะ ที่เราสามารถส่งผ่านข้อมูลที่เรียกว่าพารามิเตอร์เข้าไปในฟังก์ชันฟังก์ชันสามารถส่งคืนข้อมูลได้

 def f(x): # นิยามฟังก์ชัน f ที่มีพารามิเตอร์เป็น x
 
    return x**3+3*x**2+3*x+1 # ค่าคืนกลับของฟังก์ชัน

In [0]:
def my_function():
  print("Hello from a function")

In [0]:
def my_function(x):
  return 5 * x
print(my_function(3))  #x is 3,then 5*x=15
print(my_function(5))
print(my_function(9))

In [72]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")
 #my_function is function of name, ("") is variable that occupies the function
    
def my_function(country = "Norway"):
  print("I am from " + country)
my_function()
my_function("Thailand")

Emil Refsnes
Tobias Refsnes
Linus Refsnes
I am from Norway
I am from Thailand

In [75]:
def f(x,y,z,t):
    print((x**2+y**2+z**2+t**2)**0.5)

xyz = [3,4,12]
t = 20
f(xyz[0],xyz[1],xyz[2],t)

23.8537208838

In [0]:
def raidai(a=0,b=0,c=0,d=0):
    print(a*200+b*300+c*400+d*500)

raidai(b=15,c=20) # 15*300 + 20*400
raidai(15,20,10) # a b and c 
raidai(15,20,d=10) # a, b and d

In [77]:
# สร้างฟังก์ชัน fac(x) = x! = 1×2×3×...×x

def fac(x):
    f = 1 
    for i in range(2,x+1): 
        f = f*i 
    return f 

print(fac(6))

720

# Python Lambda
ฟังก์ชันแลมบ์ดาเป็นฟังก์ชันที่ไม่ระบุตัวตนขนาดเล็ก  ฟังก์ชัน lambda สามารถใช้arguments กี่อันก็ได้ แต่สามารถมีผลแสดงออกได้เพียงอันเดียว

In [0]:
x = lambda a : a + 10
print(x(5))   #x(5)..... a=5 dann a+10=15


x = lambda a, b, c : a + b + c
print(x(5, 6, 2))       #a=5,b=6,c=2 --> x= a+b+c = 13

def myfunc(n):
  return lambda a : a * n  

#n=2 and 3 a=4 and 11

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(4)) 
print(mytripler(11))

# Class

การสร้างคลาสทำได้โดยใช้คำสั่ง class แล้วตามด้วยชื่อคลาสที่ต้องการตั้ง ตามด้วยโคลอน : จากนั้นก็ตามด้วยบรรทัดที่ร่นเข้าซึ่งในนั้นใส่เนื้อหาโครงสร้างต่างๆของคลาส

class ชื่อคลาส:

    เนื้อหาของคลาส
    
ในการสร้างคลาส คลาสที่สร้างขึ้นอาจมีความซับซ้อน ใส่แอตทริบิวต์และเมธอดไปมากมายอย่างละเอียด แต่ในขณะเดียวกันก็สามารถสร้างคลาสที่โล่งๆไม่มีอะไรเลยก็ได้

โดยทั่วไปแล้วพารามิเตอร์ตัวแรกที่เอาไว้ใช้แทนตัวออบเจ็กต์เองนี้จะถูกเขียนแทนด้วยคำว่า self

อย่างไรก็ตามจริงๆแล้วนี่เป็นเพียงธรรมเนียมปฏิบัติที่ยึดถือกันมาเท่านั้น ถึงจะใช้คำอื่นแทน self ก็ให้ผลเหมือนกัน

In [0]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name) 

p1 = Person("John", 36)
p1.myfunc()

# Numpy 

numpy เป็นมอดูลที่ทำให้เราสามารถใช้ออบเจ็กต์ชนิดที่เรียกว่า ndarray ซึ่งหมายถึงอาเรย์หลายมิติ
โดยจะใช้ตัวย่อเป็น np  เวลาที่เรียกชื่อฟังก์ชันต่างๆใน numpy ก็จะเรียกโดยขึ้นต้นด้วย np.

มีอยู่หลายวิธีในการสร้างอาเรย์ แต่วิธีที่พื้นฐานที่สุดคือสร้างขึ้นมาจากลิสต์, ทูเพิล หรือเรนจ์ โดยใช้ np.array(ลิสต์)

In [79]:
import numpy as np
aray = np.array(range(3,7))
araya = np.array([[1,2],[3,4]])
print(aray)
print(araya)

[3 4 5 6]
[[1 2]
 [3 4]]